; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Add T1 spawns into the starting saferoom
filter:
{
    "hammerid" "346"
}
{
    "hammerid" "382"
}
add:
{
	"solid" "6"
	"classname"	"weapon_spawn"
    "weapon_selection" "t1_shotgun"
	"origin" "-8227.78 6159.62 104.40"
	"angles" "0.00 343.60 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
{
	"solid" "6"
	"classname"	"weapon_spawn"
    "weapon_selection" "any_smg"
	"origin" "-8263.37 6168.37 104.40"
	"angles" "0.00 23.73 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
; --- Move ammo pile at drop-off house from kitchen counter to living room table
modify:
{
    match:
    {
        "hammerid" "3606390"
    }
    replace:
    {
        "origin" "-2857.59 -609.9 144.96"
    }
}
; --- Add two ammo piles, one after drop-off, and one at car dump
add:
{
	"classname"	"weapon_ammo_spawn"
	"origin" "-2146.87 -2024.53 58.03"
	"angles" "-5.00 273.25 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}
{
	"classname"	"weapon_ammo_spawn"
	"origin" "-560.71 -4433.12 10.00"
	"angles" "0.00 119.17 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}
; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Remove two cars at the first street, by Riley's Corner/Southery Fashion
filter:
{
    "hammerid" "720307"
}
{
    "hammerid" "614342"
}
{
    "hammerid" "720311"
}
{
    "hammerid" "614346"
}
; --- Set another two cars to be static props instead
modify:
{
    match:
    {
        "hammerid" "614401"
    }
    replace:
    {
        "classname" "prop_dynamic"
        "spawnflags" "0"
    }
    insert:
    {
        "solid" "6"
    }
}
{
    match:
    {
        "hammerid" "720348"
    }
    replace:
    {
        "classname" "prop_dynamic"
        "spawnflags" "0"
    }
    insert:
    {
        "solid" "6"
    }
}
; --- Remove two cars at next street, by Law Off
filter:
{
    "hammerid" "891095"
}
{
    "hammerid" "891131"
}
{
    "hammerid" "891135"
}
{
    "hammerid" "891099"
}
; --- Make the car in the back at the same street static
modify:
{
    match:
    {
        "hammerid" "891131"
    }
    replace:
    {
        "classname" "prop_dynamic"
        "spawnflags" "0"
    }
    insert:
    {
        "solid" "6"
    }
}
; --- Add two hittables in the corner heading towards car dump
add:
{
	"origin" "-348.43 -2592.18 10.37"
	"angles" "359.95 451.01 0.00"
	"model"	 "models/props_junk/dumpster.mdl"
	"classname"	"prop_physics_override"
}
{
	"origin" "-430.09 -2594.21 10.46"
	"angles" "0.00 451.05 0.00"
	"model"	 "models/props_junk/dumpster.mdl"
	"classname"	"prop_physics_override"
}
; --- Remove two cars before CEDA trailer
filter:
{
    "hammerid" "2527841"
}
{
    "hammerid" "2527828"
}
{
    "hammerid" "2527832"
}
{
    "hammerid" "2527845"
}
; --- Remove another two cars after the ceda trailer
{
    "hammerid" "3002907"
}
{
    "hammerid" "3002911"
}
{
    "hammerid" "3002871"
}
{
    "hammerid" "3002875"
}
; --- Make one car static after the ceda trailer
modify:
{
    match:
    {
        "hammerid" "3002948"
    }
    replace:
    {
        "classname" "prop_dynamic"
        "spawnflags" "0"
    }
    insert:
    {
        "solid" "6"
    }
}
; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==             Add ladders for infected            ==
; =====================================================
; --- Add a ladder for high roof access at the starting saferoom
add:
{
    "model" "*7"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-13649.00 -1761.99 -58.00"
    "angles" "0.00 630.00 0.00"
}
; --- Add a closer ladder for roof access on Southery Fashion building
{
    "model" "*108"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-3796.00 9595.00 0.00"
    "angles" "0.00 90.00 0.00"
}
; --- Ladders for roof access/fence access/get back into the playing area on the 2nd street
{
    "model" "*197"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1666.58 407.37 -1.71"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*63"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-6413.89 -822.38 137.92"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*197"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-5708.14 -1359.29 -171.50"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*212"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-4266.72 2575.29 -1.50"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*211"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-4594.71 1705.79 -1.50"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*211"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-5269.30 2580.13 -2.50"
    "angles" "0.00 90.00 0.00"
}
; --- Two ladders for roof access on the building past the truck after the drop
{
    "model" "*197"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1663.72 -2026.00 -172.46"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*210"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "57.00 -8225.00 50.00"
    "angles" "0.00 180.00 0.00"
}
; --- Two ladders to get back into the playing area in the same location
{
    "model" "*197"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-2241.44 -4366.14 -123.50"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*210"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "519.10 634.62 -74.00"
    "angles" "0.00 360.00 0.00"
}
; --- And another ladder to climb the fence
{
    "model" "*90"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-357.85 545.35 -53.00"
    "angles" "0.00 0.00 0.00"
}
; --- Remove 3 broken ladders at ceda trailer and replace them
filter:
{
    "hammerid" "5595194"
}
{
    "hammerid" "5595168"
}
{
    "hammerid" "5595180"
}
add:
{
    "model" "*144"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "-0.00"
    "team" "0"
    "classname" "func_simpleladder"
    "origin" "-4111.54 -14393.55 -72.42"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*143"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "0"
    "classname" "func_simpleladder"
    "origin" "14898.40 -1544.92 -61.41"
    "angles" "0.00 270.00 0.00"
}