; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Remove medkit spawns in the starting saferoom
filter:
{
    "hammerid" "39462"
}
{
    "hammerid" "39433"
}
{
    "hammerid" "39446"
}
{
    "hammerid" "39464"
}
; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==             Add ladders for infected            ==
; =====================================================
; --- Ladder at the first trailer house for roof access
add:
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-2940.00 1976.30 -33.77"
    "angles" "0.00 0.00 0.00"
}
; --- Ladder at the FIGHT! graffiti on the trailer house for roof access
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1628.70 1276.54 -35.96"
    "angles" "0.00 0.00 0.00"
}
; --- Ladder for roof access at raiders graffiti
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-6946.00 10056.00 -21.00"
    "angles" "0.00 90.00 0.00"
}
; --- Two ladders in the same area to allow getting back into playing area
{
    "model" "*73"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-7642.00 9858.00 -23.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9080.00 -6016.00 -21.00"
    "angles" "0.00 270.00 0.00"
}
; --- Ladders around the street where the survivors go past the fence/barricade
; --- Roof access and access back into the playing area
{
    "model" "*74"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "468.00 551.00 -54.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*74"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-12673.00 2864.99 -52.00"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*74"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-4747.00 7743.00 0.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*58"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-12763.00 -176.00 15.00"
    "angles" "0.00 540.00 0.00"
}