; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
; --- Add a wrecked car to spawn behind just before the barn
add:
{
	"solid" "6"
	"origin" "166.95 -973.33 240.81"
	"angles" "-9.00 117.96 0.00"
	"model"	 "models/props_vehicles/car001a_hatchback.mdl"
	"classname"	"prop_dynamic_override"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==             Add ladders for infected            ==
; =====================================================
; --- Ladders for roof access and truck at starting saferoom
add:
{
    "model" "*26"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "84.36 4404.15 -21.48"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*26"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1450.62 -4424.84 -21.48"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*95"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "196.00 -2117.00 61.00"
    "angles" "0.00 180.00 0.00"
}
; --- Roof access ladder at stairs into building after the barns
{
    "model" "*62"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-6378.50 -6045.50 0.00"
    "angles" "0.00 90.00 0.00"
}