; --- Modify saferoom guns to always be a T1 SMG and Shotgun
modify:
{
	match:
    {
    	"hammerid" "3220893"
    }
    replace:
    {
    	"classname" "weapon_spawn"
		"weapon_selection" "any_smg"
    }
    insert:
    {
    	"spawn_without_director" "1"
    }
}
modify:
{
	match:
    {
    	"hammerid" "3221106"
    }
    replace:
    {
    	"classname" "weapon_spawn"
		"weapon_selection" "tier1_shotgun"
    }
    insert:
    {
    	"spawn_without_director" "1"
    }
}
; --- Prevent players from getting stuck between traincarts by the hittable after the bridge traincart crossing
add:
{
    "origin" "1888.317260 -786.393737 434.307983"
    "mins" "-95 -39 -102"
    "maxs" "75 80 58"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}