
; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Reduced the health on the breakable doors, so it doesn't take as long to get through
modify:
{
	match:
	{
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "150"
	}
}
; --- Move gas can and remove molotov crates
{
	match:
	{
		"hammerid" "211758"
	}
	replace:
	{
		"origin" "-153.745590 -993.960021 -335.968750"
	}
}
filter:
{
	"targetname" "AutoInstance1-prop_molotov-1"
}

filter:
{
    "hammerid" "104979"
}
{
    "hammerid" "104971"
}
{
    "hammerid" "104977"
}
{
    "hammerid" "104985"
}
; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Move ammo pile at spike pit to boxes before
modify:
{
	match:
	{
		"hammerid" "202154"
	}
	replace:
	{
		"origin" "18.387117 -2931.517333 -256.805023"
	}
}
; --- Remove the pill spawn by the spike pit molotov create
; --- And the one right next to the starting saferoom
filter:
{
	"hammerid" "223308"
}
{
	"hammerid" "115841"
}
add:
{
	"solid" "6"
	"classname"	"weapon_shotgun_chrome_spawn"
	"origin" "-9.53 334.81 -299.21"
	"angles" "0.00 343.21 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
{
	"solid" "6"
	"classname"	"weapon_smg_spawn"
	"origin" "7.68 293.84 -299.21"
	"angles" "0.00 275.44 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
{
	"solid" "6"
	"classname"	"weapon_pumpshotgun_spawn"
	"origin" "-10.53 321.03 -299.21"
	"angles" "0.00 344.79 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
{
	"solid" "6"
	"classname"	"weapon_smg_silenced_spawn"
	"origin" "-15.21 296.18 -299.21"
	"angles" "0.00 272.10 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                      SPIKES                     ==
; ==      Nerf the damage on spikes (not pits)       ==
; =====================================================
modify:
{
	match:
	{
		"hammerid" "116119"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116133"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116148"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116160"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116171"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116176"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116187"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116196"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116205"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116218"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}
{
	match:
	{
		"hammerid" "116231"
	}
	replace:
	{
		"damagecap" "5"
		"damage" "3"
	}
}

; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================\
; --- Give the survivors a different path to the event door over spike pit
; --- Reduces the amount of ledge hangs and death charges a lot
add:
{
	"solid" "6"
	"origin" "-567.30 -3637.13 -335.96"
	"angles" "0.00 -89.83 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-626.47 -3698.42 -335.96"
	"angles" "0.00 -179.77 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-945.02 -3698.35 -335.96"
	"angles" "0.00 179.87 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-755.11 -3688.27 -336.92"
	"angles" "0.00 178.73 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-851.75 -3687.17 -336.92"
	"angles" "0.00 -179.50 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1579.16 -3697.90 -335.96"
	"angles" "0.00 -179.24 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-587.34 -3440.13 -335.92"
	"angles" "0.00 -90.01 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-587.37 -3538.00 -335.92"
	"angles" "0.00 -90.80 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1633.27 -3512.33 -332.34"
	"angles" "0.00 91.09 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1513.50 -3536.24 -332.34"
	"angles" "0.00 91.00 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1634.26 -3405.66 -329.59"
	"angles" "0.00 91.97 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1518.39 -3430.49 -329.36"
	"angles" "0.00 93.73 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-690.54 -3434.24 -335.92"
	"angles" "0.00 -91.50 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-757.45 -3369.89 -335.96"
	"angles" "0.00 -178.62 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-760.75 -3584.34 -336.92"
	"angles" "0.00 179.88 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-692.46 -3537.41 -335.92"
	"angles" "0.00 88.88 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-525.60 -3368.08 -335.96"
	"angles" "0.00 -179.06 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-673.85 -3471.93 -335.96"
	"angles" "0.00 179.45 0.00"
	"model"	 "models/props_swamp/plank001a_192.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-760.65 -3613.91 -336.93"
	"angles" "0.00 -179.70 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-906.86 -3608.21 -335.96"
	"angles" "0.00 172.89 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-835.13 -3614.28 -336.93"
	"angles" "0.00 -179.62 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-619.96 -3426.31 -336.03"
	"angles" "0.00 91.41 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-609.78 -3508.70 -335.93"
	"angles" "0.00 74.87 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-620.02 -3353.02 -335.96"
	"angles" "0.00 90.53 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-786.58 -3603.33 -336.96"
	"angles" "0.00 89.77 0.00"
	"model"	 "models/props_swamp/plank001a_192.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-605.58 -3472.19 -335.24"
	"angles" "0.00 -0.36 0.00"
	"model"	 "models/props_swamp/plank001a_192.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-785.96 -3676.62 -336.14"
	"angles" "0.00 90.01 0.00"
	"model"	 "models/props_swamp/plank001a_192.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-392.95 -3367.67 -335.96"
	"angles" "0.00 0.07 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-258.96 -3367.00 -335.96"
	"angles" "0.00 0.42 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-126.07 -3366.06 -335.96"
	"angles" "0.00 0.42 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "27.90 -3365.39 -335.96"
	"angles" "0.00 0.15 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "296.11 -3365.78 -335.96"
	"angles" "0.00 -0.54 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "158.38 -3365.36 -335.96"
	"angles" "0.00 -0.01 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "559.10 -3365.36 -335.96"
	"angles" "0.00 -0.01 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "425.13 -3365.36 -335.96"
	"angles" "0.00 -0.01 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1640.44 -3635.73 -335.59"
	"angles" "0.00 88.87 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}