
; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Remove static witch spawn in favor of random
filter:
{
    "targetname" "bwitch1"
}
{
    "OnStartTouch" "bwitch1SpawnZombie0-1"
}
; --- Remove static tank spawn in favor of random
{
	"hammerid" "60505"
}
{
	"hammerid" "60514"
}
{
	"hammerid" "60539"
}
{
	"targetname" "tank_punch_fx"
}
; --- Remove falling rocks after activating event
{
	"targetname" "rock_fall"
}
{
	"hammerid" "98304"
}
{
	"hammerid" "103998"
}
{
	"hammerid" "103989"
}
; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Remove starting saferoom weapons in favor of random T1s
filter:
{
    "hammerid" "52498"
}
{
    "hammerid" "52590"
}
add:
{
	"solid" "6"
	"classname"	"weapon_pumpshotgun_spawn"
	"origin" "336.21 -5309.15 -255.12"
	"angles" "0.00 13.13 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
{
	"solid" "6"
	"classname"	"weapon_smg_silenced_spawn"
	"origin" "442.75 -5316.96 -250.12"
	"angles" "0.00 50.09 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}
; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Remove or static several hittable props in ruins hallways
; --- 15 is far too much, this reduces it to one large rock and one small one
filter:
{
	"hammerid" "59358"
}
{
	"hammerid" "59369"
}
{
	"hammerid" "59364"
}
{
	"hammerid" "59047"
}
{
	"hammerid" "59051"
}
{
	"hammerid" "6631"
}
{
	"hammerid" "6644"
}
{
	"hammerid" "6610"
}
modify:
{
	match:
	{
		"hammerid" "59349"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
	delete:
    {
        "health" "0"
    }
}
{
	match:
	{
		"hammerid" "2222"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
	delete:
    {
        "health" "0"
    }
}
{
	match:
	{
		"hammerid" "2204"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
	delete:
    {
        "health" "0"
    }
}
{
	match:
	{
		"hammerid" "2030"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
	delete:
    {
        "health" "0"
    }
}
{
	match:
	{
		"hammerid" "2622"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
	delete:
    {
        "health" "0"
    }
}
; --- Remove and move outside hittables to different positions
filter:
{
	"hammerid" "67626"
}
{
	"hammerid" "65635"
}
{
	"hammerid" "67622"
}
add:
{
	"origin" "-301.06 -499.75 69.68"
	"angles" "296.85 179.25 36.12"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_physics_override"
}
; --- Also remove the bricks blocking the path so the survivors don't have to break them
filter:
{
	"targetname" "brick_phys01"
}
; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
; --- Remove some boxes that get the way of hits
filter:
{
	"hammerid" "60320"
}
{
	"hammerid" "60324"
}
{
	"hammerid" "60316"
}
{
	"hammerid" "60339"
}
{
	"hammerid" "60331"
}
{
	"hammerid" "60301"
}
{
	"hammerid" "60309"
}
{
	"hammerid" "60305"
}
{
	"hammerid" "51127"
}
{
	"hammerid" "51140"
}
{
	"hammerid" "51133"
}
; --- Border off most of the cliff-side and bridges with fences
; --- This limits the amount of death chargers, as well as make tank at more ranges viable
add:
{
	"solid" "6"
	"origin" "-806.34 10116.40 -335.00"
	"angles" "0.00 89.93 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-2169.48 -6742.24 -288.90"
	"angles" "0.00 -1.95 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-2193.54 -7299.40 -295.14"
	"angles" "0.00 -3.10 3.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-2165.37 -6194.04 -297.17"
	"angles" "0.00 0.90 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1795.11 -4803.67 34.22"
	"angles" "0.00 -13.07 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-326.01 1098.77 56.54"
	"angles" "0.00 -0.13 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1649.20 -4267.49 27.46"
	"angles" "0.00 -17.39 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-322.01 643.27 55.48"
	"angles" "0.00 -0.66 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-121.95 1089.83 55.01"
	"angles" "0.00 -179.74 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-429.76 -395.47 -4.83"
	"angles" "0.00 8.03 -4.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1682.34 -3184.71 11.29"
	"angles" "0.00 363.84 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1188.52 -1876.21 14.55"
	"angles" "0.00 -107.94 10.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1651.97 -2559.38 40.00"
	"angles" "0.00 -12.64 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1524.05 -2047.59 -0.02"
	"angles" "0.00 -16.03 -7.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-499.95 -1874.70 9.79"
	"angles" "0.00 15.59 -7.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-654.05 -2056.90 50.95"
	"angles" "0.00 -104.08 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-501.57 74.41 89.41"
	"angles" "0.00 1.26 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-450.02 -1394.24 -12.18"
	"angles" "0.00 -29.09 -1.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-365.50 -906.97 1.46"
	"angles" "0.00 6.62 5.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-396.78 1687.61 11.72"
	"angles" "0.00 -4.02 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-327.91 2240.87 5.28"
	"angles" "0.00 -10.09 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "442.35 2866.13 28.65"
	"angles" "0.00 -72.75 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-41.34 2650.84 23.44"
	"angles" "0.00 299.91 1.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-118.95 636.92 55.01"
	"angles" "0.00 -179.74 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1061.02 3913.72 21.11"
	"angles" "0.00 865.27 -5.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1169.85 6395.99 30.56"
	"angles" "0.00 -88.31 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-120.95 862.33 55.06"
	"angles" "0.00 -179.74 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-324.01 862.62 55.58"
	"angles" "0.00 1.18 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-1615.60 -3728.82 19.25"
	"angles" "0.00 9.67 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"targetname" "l4d2_spawn_props_object_2026_07_14"
	"solid" "6"
	"origin" "632.09 6336.52 -1.45"
	"angles" "0.00 -79.36 5.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-860.81 6528.96 8.80"
	"angles" "0.00 0.28 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-706.90 7579.54 22.15"
	"angles" "0.00 -32.67 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-856.67 7078.60 8.02"
	"angles" "0.00 -1.65 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-268.37 7847.80 31.42"
	"angles" "0.00 -84.48 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "265.45 7828.84 18.32"
	"angles" "0.00 -98.99 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "996.56 7864.24 -16.01"
	"angles" "0.00 -88.54 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "2040.72 7780.46 39.99"
	"angles" "0.00 -91.68 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1799.86 8581.87 35.53"
	"angles" "0.00 -102.79 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "490.42 8583.79 14.45"
	"angles" "0.00 -76.53 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "2317.13 8382.20 25.06"
	"angles" "0.00 -119.85 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-119.06 8688.06 1.59"
	"angles" "0.00 71.84 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "68.50 6246.88 22.31"
	"angles" "0.00 94.06 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-580.53 6241.06 -2.49"
	"angles" "0.00 88.45 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "2023.15 6277.03 -52.29"
	"angles" "0.00 0.28 0.00"
	"model"	 "models/props_update/plywood_256.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1318.84 8289.35 69.73"
	"angles" "0.00 -0.44 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1316.80 8549.20 69.73"
	"angles" "0.00 1.40 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1317.46 8033.46 72.73"
	"angles" "0.00 0.26 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1519.48 8292.94 71.73"
	"angles" "0.00 -179.42 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1516.91 8549.40 72.73"
	"angles" "0.00 -179.42 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1522.10 8030.72 72.73"
	"angles" "0.00 -179.42 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
; --- Add smaller railing around the ruins, with increased safe space on the left side
; --- Add railing around the ending saferoom as well, but leaves a death charge spot

{
	"solid" "6"
	"origin" "1467.07 4433.63 -46.90"
	"angles" "0.00 89.99 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1467.10 4702.72 -46.90"
	"angles" "0.00 89.81 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.52 4569.43 -46.90"
	"angles" "0.00 89.90 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1467.28 4831.33 -46.90"
	"angles" "0.00 89.99 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.01 4963.84 -46.90"
	"angles" "0.00 90.60 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1465.81 5091.95 -46.90"
	"angles" "0.00 89.46 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.73 5224.67 -46.90"
	"angles" "0.00 89.28 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.27 5352.70 -46.90"
	"angles" "0.00 89.55 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1467.58 5480.52 -46.90"
	"angles" "0.00 90.25 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1467.41 5607.36 -46.90"
	"angles" "0.00 91.22 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.99 5734.13 -46.90"
	"angles" "0.00 90.69 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1466.73 5830.20 -46.90"
	"angles" "0.00 91.04 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1507.53 5872.65 -46.90"
	"angles" "0.00 0.43 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1576.07 5872.69 -46.90"
	"angles" "0.00 0.52 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-808.82 10343.30 -335.00"
	"angles" "0.00 89.93 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-444.58 10778.34 -335.96"
	"angles" "0.00 0.52 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-313.31 10779.68 -335.96"
	"angles" "0.00 1.22 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-171.42 10779.81 -335.96"
	"angles" "0.00 0.34 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-42.94 10779.90 -335.96"
	"angles" "0.00 1.05 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "97.86 10778.98 -335.96"
	"angles" "0.00 0.87 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "477.33 10776.36 -335.96"
	"angles" "0.00 1.93 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "239.61 10778.13 -335.96"
	"angles" "0.00 -0.44 0.00"
	"model"	 "models/props_mill/mill_railing_128.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "338.51 10776.73 -335.96"
	"angles" "0.00 0.17 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "411.34 10776.97 -335.96"
	"angles" "0.00 0.52 0.00"
	"model"	 "models/props_mill/mill_railing_64.mdl"
	"classname"	"prop_dynamic_override"
}
; --- Add rocks to support the structure of the fences in a few spots
; --- also clarify invisible floor in the ruins
{
	"solid" "6"
	"origin" "-1862.55 -5101.56 81.30"
	"angles" "0.00 149.42 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "63.02 6254.05 -29.41"
	"angles" "90.00 -155.61 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-812.73 6270.21 -41.53"
	"angles" "80.00 -160.09 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "206.86 7812.80 -16.98"
	"angles" "80.00 3.36 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1807.75 4307.77 -97.71"
	"angles" "80.00 -182.92 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-640.40 -2067.92 4.92"
	"angles" "0.00 78.22 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-571.90 -2097.40 -6.73"
	"angles" "0.00 41.08 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-675.35 -2049.70 16.31"
	"angles" "0.00 15.92 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-352.23 -1264.37 -42.56"
	"angles" "90.00 79.36 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "-428.80 -1404.27 -33.36"
	"angles" "-50.00 219.59 -10.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "177.19 2774.47 -12.80"
	"angles" "90.00 74.60 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1522.20 4314.23 -88.76"
	"angles" "80.00 -179.68 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1426.97 6385.52 5.55"
	"angles" "0.00 126.15 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "611.85 6357.55 -49.80"
	"angles" "100.00 -157.98 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "719.66 6369.46 -46.84"
	"angles" "100.00 -148.13 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "311.43 7797.57 -42.55"
	"angles" "90.00 2.40 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "1104.49 7838.45 -47.61"
	"angles" "90.00 19.45 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
