; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Remove hittables that are extremely strong for the infected
; --- After the dropoff
filter:
{
    "hammerid" "99951"
}
; --- Just before the rocky bridge
{
    "hammerid" "99969"
}
; --- Add the hittable before the drop instead
add:
{
	"origin" "1068.34 772.56 357.75"
	"angles" "301.81 287.97 121.32"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_physics_override"
}
; -- Add a hittable car at spawn
{
	"origin" "358.59 -3154.18 68.71"
	"angles" "359.95 90.17 360.00"
	"model"	 "models/props_vehicles/cara_95sedan.mdl"
	"classname"	"prop_physics_override"
}
{
	"origin" "358.59 -3154.18 68.71"
	"angles" "359.95 90.17 360.00"
	"model"	 "models/props_vehicles/cara_95sedan_glass.mdl"
	"classname"	"prop_dynamic_override"
}
; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
; --- Add additional rock to spawn behind at dropoff
add:
{
	"solid" "6"
	"origin" "1000 1916.56 516.20"
	"angles" "0.00 -24.81 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
; --- Modify existing wooden rails to not be breakable
modify:
{
    match:
    {
        "model" "models/dune/wood/boardwalk_rail_256_break.mdl"
    }
    replace:
    {
        "classname" "prop_dynamic_override"
    }
    insert:
    {
        "solid" "6"
    }
    delete:
    {
        "health" "250"
    }
}
; --- Add fences after the house
add:
{
	"solid" "6"
	"origin" "12323.58 1191.91 341.49"
	"angles" "0.00 201.15 4.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "11471.93 1689.56 400.35"
	"angles" "0.00 1889.80 4.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "11597.34 -172.57 380.59"
	"angles" "0.00 -89.06 -5.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "11971.17 1577.20 360.00"
	"angles" "0.00 -116.57 -5.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "12084.94 -6.02 345.36"
	"angles" "0.00 -51.38 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "11069.00 -237.14 412.34"
	"angles" "0.00 -76.63 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
; -- Fences/rocks at the rock bridges/towards ending saferoom
{
	"solid" "6"
	"origin" "10296.07 -4021.56 9.84"
	"angles" "0.00 -10.91 -2.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "10320.91 -3482.03 -43.38"
	"angles" "0.00 365.75 -6.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "10339.94 -5394.75 7.27"
	"angles" "0.00 38.80 0.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "10254.45 -4561.90 1.43"
	"angles" "0.00 1.99 8.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "10294.81 -5121.03 -31.34"
	"angles" "0.00 5.62 0.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "10421.56 -5468.47 -6.02"
	"angles" "-67.00 -124.83 70.00"
	"model"	 "models/dune/rock_dune_03.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "9483.22 -2713.05 162.71"
	"angles" "0.00 77.07 2.00"
	"model"	 "models/props_exteriors/fence002.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "9073.22 -2605.01 183.46"
	"angles" "0.00 71.55 2.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8817.55 -2531.92 209.55"
	"angles" "0.00 77.49 6.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8552.18 -2530.88 228.91"
	"angles" "0.00 100.40 -1.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8694.29 -2341.53 206.84"
	"angles" "0.00 -89.84 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8266.54 -2180.18 151.73"
	"angles" "0.00 -178.28 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8426.72 -2311.40 182.22"
	"angles" "0.00 -104.37 11.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8955.60 -2307.03 198.03"
	"angles" "0.00 -75.94 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "9016.45 -814.22 211.14"
	"angles" "0.00 -13.02 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8846.52 -985.10 219.82"
	"angles" "0.00 -83.03 -5.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8544.77 -1019.33 236.68"
	"angles" "0.00 -84.03 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8258.95 -1031.32 221.29"
	"angles" "0.00 -91.34 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "9002.30 -1240.67 230.70"
	"angles" "0.00 66.08 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8729.27 -1179.05 229.07"
	"angles" "0.00 82.44 0.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"solid" "6"
	"origin" "8447.05 -1180.08 204.06"
	"angles" "0.00 1175.64 -11.00"
	"model"	 "models/dune/wood/boardwalk_rail_256_break.mdl"
	"classname"	"prop_dynamic_override"
}