; --- Delete the intro
filter:
{
    "classname" "point_viewcontrol_survivor"
}
{
    "classname" "intro_camera_relay"
}
{
    "classname" "point_viewcontrol_multiplayer"
}
{
    "hammerid" "2568648"
}
{
    "classname" "info_director" 
}