; --- Replace finale medkits (that don't spawn or get replaced) with custom pill spawns
filter:
{
    "hammerid" "361975"
}
{
    "hammerid" "361985"
}
{
    "hammerid" "361989"
}
{
    "hammerid" "361993"
}
add:
{
    "origin" "0 0 0"
    "targetname" "item_spawn_template"
    "Template01" "finale_pill_1"
    "Template02" "finale_pill_2"
    "Template03" "finale_pill_3"
    "Template04" "finale_pill_4"
    "classname" "point_template"
}
{
    "origin" "0 0 0"
    "targetname" "item_spawn_relay"
    "classname" "logic_auto"
    "OnMapSpawn" "item_spawn_template,ForceSpawn,,2,-1"
}
{
    "origin" "29.563920 -1013.683349 560.031250"
    "angles" "0 0 0"
    "targetname" "finale_pill_1"
    "count" "1"
    "classname" "weapon_pain_pills_spawn"
}
{
    "origin" "19.042295 -1001.480834 560.031250"
    "angles" "0 0 0"
    "targetname" "finale_pill_2"
    "count" "1"
    "classname" "weapon_pain_pills_spawn"
}
{
    "origin" "8.488729 -990.381347 560.031250"
    "angles" "0 0 0"
    "targetname" "finale_pill_3"
    "count" "1"
    "classname" "weapon_pain_pills_spawn"
}
{
    "origin" "-3.323598 -977.956665 560.031250"
    "angles" "0 0 0"
    "targetname" "finale_pill_4"
    "count" "1"
    "classname" "weapon_pain_pills_spawn"
}