; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Add ammo piles around the mid-point of the map
add:
{
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-3278.25 1688.03 544.31"
	"angles" "0.00 126.07 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}
{
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-512.62 2587.15 290.96"
	"angles" "0.00 84.19 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}
{
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-2199.15 1752.12 562.31"
	"angles" "0.00 40.78 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}
{
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-2289.56 -1498.71 480.00"
	"angles" "0.00 21.35 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
}

